* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary-orange: #f1a500;
  --color-primary-orange-2: #f4a800;
  --color-primary-black: #333333;
  --color-primary-red: #fb0000;
  --color-primary-red-2: #fe0000;
  --color-primary-green: #36b24a;
}

html,
body {
  height: 100%;
}

.object-fit-cover {
  object-fit: cover;
}

.color-primary-orange {
  color: var(--color-primary-orange);
}

.color-primary-orange-2 {
  color: var(--color-primary-orange-2);
}

.color-primary-black {
  color: var(--color-primary-black);
}

.color-primary-red {
  color: var(--color-primary-red);
}

.color-primary-red-2 {
  color: var(--color-primary-red-2);
}

.color-primary-green {
  color: var(--color-primary-green);
}

.bg-primary-orange {
  background-color: var(--color-primary-orange);
}

.bg-primary-orange-2 {
  background-color: var(--color-primary-orange-2);
}

.bg-primary-black {
  background-color: var(--color-primary-black);
}

.bg-primary-red {
  background-color: var(--color-primary-red);
}

.bg-primary-red-2 {
  background-color: var(--color-primary-red-2);
}

.bg-primary-green {
  background-color: var(--color-primary-green);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.h-fit-content {
  height: fit-content;
}

.bg-image-png {
  background-image: url("../../assets/images/bg-01.png");
  width: 100%;
  background-size: contain;
  background-repeat: repeat-y;
  background-position: center;
}

.bg-image-png-2 {
  background: url("../../assets/images/bg-01.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#btn-close-image-modal {
  cursor: pointer;
  position: absolute;
  top: 15%;
  right: 10%;
  background-color: white;
  padding: 0.5rem;
  border-radius: 100%;
}

#image-modal #modal-image-src {
  max-height: 80vh;
  object-fit: contain;
}

.show-modal-image {
  cursor: pointer;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.nav .nav-link {
  /* font-size: medium; */
  font-weight: 600;
}

.nav .nav-link.active {
  color: var(--color-primary-orange) !important;
}
main {
  height: 100vh;
}

.disini {
  background-color: white;
  color: var(--color-primary-red);
  font-weight: bold;
  outline: none;
  border-width: 0;
  margin-left: 8px;
  padding: 1px 8px;
  border-radius: 10px;
}

.kami-bantu {
  color: var(--color-primary-red);
  margin-left: 8px;
}

.slogan {
  display: flex;
  background-color: var(--color-primary-black);
  color: white;
}

.divider-vertical {
  height: 100%;
  min-height: 40px;
  width: 2px;
  background-color: white;
}

.banner-slider-image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* produk detail */

.strikethrough {
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: var(--color-primary-red);

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

h2 .strikethrough {
  color: rgba(0, 0, 0, 0.8);
}

.detail-pesan-sekarang {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: var(--color-primary-orange);
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
  box-shadow: 0 0 10px 1px var(--color-primary-black);
}

.detail-pesan-sekarang:hover {
  color: rgba(255, 255, 255, 0.93);
}

.discount-label {
  width: 50px;
  height: 50px;
  background-color: var(--color-primary-orange);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  position: absolute;
  right: 2px;
  top: -1rem;
}

.produk-image-thumbnail-container {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: start;
  /* max-width: 80%; */
}

.produk-image-thumbnail {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

/* home */

.banner-slider-container {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.banner-slider-image-container img {
  height: calc((130 / 390) * 100vw);
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

/* produk css */
.produk-container {
  width: calc((390px / 2));
  height: calc((390px / 2));
}

.produk-pesan-sekarang:hover {
  background-color: var(--color-primary-orange);
}

.produk-pesan-sekarang:active {
  background-color: var(--color-primary-orange) !important;
  opacity: 80%;
}

.produk-pesan-wrapper {
  position: absolute;
  bottom: 1rem;
  padding: 0 0.5rem;
  left: 0;
  right: 0;
}
.produk-overlay-wrapper {
  bottom: 35%;
  padding-bottom: 4px;
  top: auto;
  bottom: auto;
}
.produk-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  height: auto;
  align-items: center;
  padding-bottom: 4px;
}

/* portofolio */
#portofolio div.card {
  border: 1px solid var(--color-primary-orange);
  cursor: pointer;
}

.portofolio-image {
  width: 100%;
  /* height: 180px */
  object-fit: cover;
  object-position: center;
  display: block;
}

/* hubungi-kami  */
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}

.text-justify {
  text-align: justify;
}

.home-icon {
  height: 2.8rem;
  width: 2.8rem;
  margin-right: 1rem;
}

.all-in-description {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.langsung-pesan {
  height: 2.8rem;
  width: 80%;
  border-radius: 1rem;
  padding: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  justify-content: center;
}

.langsung-pesan:hover {
  text-decoration: none;
  color: white;
}

.flex-1 {
  flex: 1;
}

@media (min-width: 576px) {
  .banner-slider-container-sm,
  .banner-slider-container {
    max-width: 576px;
  }
}

@media (max-width: 767px) {
  .disini,
  .kami-bantu {
    margin-left: 0px;
  }
}

@media (min-width: 768px) {
  .banner-slider-container-md,
  .banner-slider-container-sm,
  .banner-slider-container {
    max-width: 768px;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  /* product detail */
  .discount-label {
    right: -1rem;
    top: -1rem;
  }

  /* portofolio */

  #btn-close-image-modal {
    top: 8%;
    right: 6%;
    padding: 0.8rem;
  }

  .portofolio-image {
    width: 100%;
    /* height: 160px; */
  }

  .small-image {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .banner-slider-container-lg,
  .banner-slider-container-md,
  .banner-slider-container-sm,
  .banner-slider-container {
    max-width: 992px;
  }

  .portofolio-image {
    width: 100%;
    /* height: 210px; */
  }

  .langsung-pesan {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .banner-slider-container-xl,
  .banner-slider-container-lg,
  .banner-slider-container-md,
  .banner-slider-container-sm,
  .banner-slider-container {
    max-width: 1200px;
  }

  #btn-close-image-modal {
    top: 8%;
    right: 6%;
    padding: 0.8rem;
  }
}
@media (min-width: 1400px) {
  .banner-slider-container-xxl,
  .banner-slider-container-xl,
  .banner-slider-container-lg,
  .banner-slider-container-md,
  .banner-slider-container-sm,
  .banner-slider-container {
    max-width: 1400px;
  }

  .portofolio-image {
    width: 100%;
    /* height: 287px; */
  }
}
